<br>
<br>
{{test}}
{{items}}
<div class="list-group">
  <div ng-repeat="item in items">
    <a href="#/svar/{{item._id}}" class="list-group-item">
        <div class="row">
            <div class="col-md-1">
                <h1 class="list-group-item-heading">
                    <span class="label label-gravity{{item.alvor}} label-cirkel">{{item.alvor}}</span>
                </h1>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h3 class="list-group-item-heading">{{item.name}}</h3>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <p class="list-group-item-text">{{item.desc}}</p>
            </div>
        </div>
    </a>
  </div>
</div>
<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<br>
