

<br>
<div class="list-group">
    <a href="#" class="list-group-item">
        <h1>
            <span class="label label-gravity1 label-cirkel">1</span>
            Dapibus ac facilisis in
        </h1>
        <p class="list-group-item-text">Something something </p>
    </a>
    <a href="#" class="list-group-item">
        <h1>
            <span class="label label-gravity2 label-cirkel">2</span>
            Dapibus ac facilisis in
        </h1>
        <p class="list-group-item-text">Something something </p>

    </a>
    <a href="#" class="list-group-item">
        <h1>
            <span class="label label-gravity3 label-cirkel">3</span>
            Dapibus ac facilisis in
        </h1>
        <p class="list-group-item-text">Something something </p>

    </a>
    <a href="#" class="list-group-item">
        <h1>
            <span class="label label-gravity4 label-cirkel">4</span>
            Dapibus ac facilisis in
        </h1>
        <p class="list-group-item-text">Something something </p>

    </a>
    <a href="#" class="list-group-item">
        <h1>
            <span class="label label-gravity5 label-cirkel">5</span>
            Dapibus ac facilisis in
        </h1>
        <p class="list-group-item-text">Something something </p>

    </a>
</div>
<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>