<br>
<br>
<div class="list-group">

    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-1"> 
                <h1 class="list-group-item-heading">
                    <span class="label label-gravity1 label-cirkel">1</span>
                </h1>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h3 class="list-group-item-heading">Hall</h3>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <p class="list-group-item-text">Something something sgbsbgr bsrgb bsrgb sbg bsrgb sbrg bsrgb srbg bsrgb sbgbsrgb srbg bsrgb srbg </p>
            </div>
        </div>

    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-1"> 
                <h1 class="list-group-item-heading">
                    <span class="label label-gravity2 label-cirkel">2</span>
                </h1>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h3 class="list-group-item-heading">Hall</h3>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <p class="list-group-item-text">Something something sgbsbgr bsrgb bsrgb sbg bsrgb sbrg bsrgb srbg bsrgb sbgbsrgb srbg bsrgb srbg </p>
            </div>
        </div>

    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-1"> 
                <h1 class="list-group-item-heading">
                    <span class="label label-gravity3 label-cirkel">3</span>
                </h1>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h3 class="list-group-item-heading">Hall</h3>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <p class="list-group-item-text">Something something sgbsbgr bsrgb bsrgb sbg bsrgb sbrg bsrgb srbg bsrgb sbgbsrgb srbg bsrgb srbg </p>
            </div>
        </div>

    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-1"> 
                <h1 class="list-group-item-heading">
                    <span class="label label-gravity4 label-cirkel">4</span>
                </h1>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h3 class="list-group-item-heading">Hall</h3>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <p class="list-group-item-text">Something something sgbsbgr bsrgb bsrgb sbg bsrgb sbrg bsrgb srbg bsrgb sbgbsrgb srbg bsrgb srbg </p>
            </div>
        </div>

    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-1"> 
                <h1 class="list-group-item-heading">
                    <span class="label label-gravity5 label-cirkel">5</span>
                </h1>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h3 class="list-group-item-heading">Hall</h3>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <p class="list-group-item-text">Something something sgbsbgr bsrgb bsrgb sbg bsrgb sbrg bsrgb srbg bsrgb sbgbsrgb srbg bsrgb srbg </p>
            </div>
        </div>

    </a>
    <a href="#" class="list-group-item">
        <div class="row">
            <div class="col-md-1"> 
                <h1 class="list-group-item-heading">
                    <span class="label label-gravity1 label-cirkel">1</span>
                </h1>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h3 class="list-group-item-heading">Hall</h3>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <p class="list-group-item-text">Something something sgbsbgr bsrgb bsrgb sbg bsrgb sbrg bsrgb srbg bsrgb sbgbsrgb srbg bsrgb srbg </p>
            </div>
        </div>

    </a>
</div>
<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<br>