<p>{{test}}</p>
<form novalidate>
	<h3>Skriv spørgsmål</h2>
	<p>Her skal der stå eb beskrivende tekst om hvad spørgsmål er!</p>
	<div class="form-group">
		<textarea ng-model="dilemma.quest" class="form-control noresize" rows="2" id="comment"></textarea>
	</div>
	<h3>Uddyb dilemma</h2>
	<p>Her skal der stå eb beskrivende tekst om hvad uddyb er!</p>
	<div class="form-group">
		<textarea ng-model="dilemma.desc" class="form-control noresize" rows="3" id="comment"></textarea>
	</div>
	<p></p>
	<div class="input-group input-group">
	<span class="input-group-addon" id="sizing-addon1">Valgmulighed 1</span>
	<input type="text" ng-model="dilemma.opt1" class="form-control" aria-describedby="sizing-addon1">
	<span class="input-group-btn">
		<button class="btn btn-primary" type="button">Tilføj billede 1</button>
	</span>
	</div>
	<p></p>
	<div class="input-group input-group">
	<span class="input-group-addon" id="sizing-addon1">Valgmulighed 2</span>
	<input type="text" ng-model="dilemma.opt2" class="form-control" aria-describedby="sizing-addon1">
	<span class="input-group-btn">
		<button class="btn btn-primary" type="button">Tilføj billede 2</button>
	</span>
	</div>
	<p></p>
	<div class="input-group input-group">
	<span class="input-group-addon" id="sizing-addon1">Valgmulighed 3</span>
	<input type="text" ng-model="dilemma.opt3" class="form-control" aria-describedby="sizing-addon1">
	<span class="input-group-btn">
		<button class="btn btn-primary" type="button">Tilføj billede 3</button>
	</span>
	</div>
	<p></p>
	<div class="input-group input-group">
	<span class="input-group-addon" id="sizing-addon1">Valgmulighed 4</span>
	<input type="text" ng-model="dilemma.opt4" class="form-control" aria-describedby="sizing-addon1">
	<span class="input-group-btn">
		<button class="btn btn-primary" type="button">Tilføj billede 4</button>
	</span>
	</div>
	<p></p>
	<div class="input-group input-group">
	<span class="input-group-addon" id="sizing-addon1">Valgmulighed 5</span>
	<input type="text" ng-model="dilemma.opt5" class="form-control" aria-describedby="sizing-addon1">
	<span class="input-group-btn">
		<button class="btn btn-primary" type="button">Tilføj billede 5</button>
	</span>
	</div>
	<br>
	<button type="submit" ng-click="create(dilemma)" class="btn btn-success">Opret</button>
</form>
