<h2>
	<span class="label label-gravity1 label-cirkel">1</span>
	Dapibus ac facilisis in
</h2>
<p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
<div class="row grid5">

	<div class="col-md-1">
		<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" data-holder-rendered="true" style="width: 190px; height: 190px;">
	</div>
	<div class="col-md-1 text-center">
		<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" data-holder-rendered="true" style="width: 190px; height: 190px;">
	</div>
	<div class="col-md-1 text-center">
		<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" data-holder-rendered="true" style="width: 190px; height: 190px;">
	</div>
	<div class="col-md-1 text-center">
		<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" data-holder-rendered="true" style="width: 190px; height: 190px;">
	</div>
	<div class="col-md-1 text-center">
		<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" data-holder-rendered="true" style="width: 190px; height: 190px;">
	</div>

</div>
<br>

<div bind-html-compile="context"></div>
