<h2>
	<span class="label label-gravity1 label-cirkel">1</span>
	Dapibus ac facilisis in
</h2>
<p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
<div class="row grid5">

	<div class="col-md-1">
		<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" data-holder-rendered="true" style="width: 190px; height: 190px;">
	</div>
	<div class="col-md-1 text-center">
		<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" data-holder-rendered="true" style="width: 190px; height: 190px;">
	</div>
	<div class="col-md-1 text-center">
		<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" data-holder-rendered="true" style="width: 190px; height: 190px;">
	</div>
	<div class="col-md-1 text-center">
		<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" data-holder-rendered="true" style="width: 190px; height: 190px;">
	</div>
	<div class="col-md-1 text-center">
		<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" data-holder-rendered="true" style="width: 190px; height: 190px;">
	</div>

</div>
<p></p>
<div class="row grid5">
	<div class="col-md-1 text-center">
		<button type="button" class="btn btn-lg btn-primary">Default</button>
	</div>
	<div class="col-md-1 text-center">
		<button type="button" class="btn btn-lg btn-primary">Default</button>
	</div>
	<div class="col-md-1 text-center">
		<button type="button" class="btn btn-lg btn-primary">Default</button>
	</div>
	<div class="col-md-1 text-center">
		<button type="button" class="btn btn-lg btn-primary">Default</button>
	</div>
	<div class="col-md-1 text-center">
		<button type="button" class="btn btn-lg btn-primary">Default</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-12" style="height:50px;"></div>
</div>
<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
		<span>Ja (10%)</span>
	</div>
</div>
<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
		<span>Nej (50%)</span>
	</div>
</div>
<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 15%;">
		<span>Måske (15%)</span>
	</div>
</div>
<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
		<span>Senere (2%)</span>
	</div>
</div>
<div class="progress">
	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 28%;">
		<span>Aldrig (28%)</span>
	</div>
</div>


<div class="input-group">

	<input type="text" class="form-control" placeholder="Search for...">
	<span class="input-group-btn">1
		<button class="btn btn-default" type="button">OK!</button>
	</span>
</div>

